body {
  padding: 0x;
  margin: auto;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#frame {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  background-image: url("/images/backgroundMain.jpg");
  padding: 0px;
  margin: auto;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#top {
  position: relative;
  height: 35%;
  width: 100%;
}

#middle {
  position: relative;
  height: 35%;
  width: 100%;
}

#bottom {
  position: relative;
  height: 30%;
  width: 100%;
  text-align: center;
}

#logo_sec {
  width: 100%;
  position: relative;
  height: 80%;
  text-align: center;
}

#slogan_sec {
  width: 100%;
  position: relative;
  height: 20%;
  text-align: center;
}

#logo {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50px;
  width: 200px;
  height: auto;
  margin: auto;
}

#slogan {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  color: white;
  margin: auto;
  font-size: 1.1em;
  width: 50%;
}

#leftType {
  width: 70%;
  height: 30%;
  display: inline-block;
  margin: auto;
  padding: 0;
  position: relative;
}

#rightSubmit {
  width: 30%;
  height: 30%;
  display: inline-block;
  position: relative;
  margin: auto;
  padding: 0;
  float: right;
}

#hashtagTextfield {
  position: absolute;
  width: 60%;
  height: 40px;
  right: 10px;
  top: 30px;
  border-radius: 40px;
  border: 0;
  outline: none;
  padding-left: 20px;
  font-size: 1.3em;
}

#search {
  position: absolute;
  width: 100px;
  height: 40px;
  left: 10px;
  top: 30px;
  border-radius: 10px;
  border: 0;
  outline: none;
  font-size: 1.3em;
  background-color: #bababa;
  cursor: pointer;
}

#search:hover {
  background-color: #808080;
}

#addFriendSec {
  width: 100%;
  height: 70%;
  position: absolute;
  bottom: 0;
  display: block;
  text-align: center;
}

#addFriend {
  background-color: #97927f;
  font-size: 1.3em;
  position: relative;
  margin: auto;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  height: 50px;
  border-radius: 10px;
  border: 0;
  outline: none;
  cursor: pointer;
}

#addFriend:hover {
  background-color: #eb1c48;
}
